.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:fill;
  filter: brightness(80%);
  z-index: 0;
}

.form-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
}

.login-form {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
  text-align: center;
  color: #fff;
  animation: popup 0.8s ease-in-out;
}

.login-form h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #fff;
}

.subtitle {
  margin-bottom: 25px;
  color: #ddd;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 0.95rem;
}

input::placeholder{
  color:white;
}

input:eye

.form-group span {
  color: #ff9c9c;
  font-size: 0.8rem;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: scale(1.03);
}

.divider {
  margin: 15px 0;
  color: #aaa;
  position: relative;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popup {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
